## What's Changed
{% if changelog %}
{{ changelog }}
{% else %}
No changes recorded.
{% endif %}

**Full Changelog:** [`{{ version }}`](https://github.com/{{ owner }}/{{ repo_name }}/releases/tag/{{ version }})
